*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgrey;
    font-family: 'Poppins', sans-serif;
}


.intestazione-toboolist {
    background-color: white;
}

.logo {
    vertical-align: middle;
    margin: 10px 0 10px 10px;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}

main {
    margin: 20px 0;
}

.container {
    background-color: white;
    border-radius: 6px;
    margin: 0 auto;
    max-width: 700px;
}

.buttons {
    border-bottom: 2px solid lightgrey;
}

.button {
    padding: 5px;
    border-radius: 6px;
    margin: 15px 0;
}

#button-task {
    margin-left: 30px;
    border: 2px solid #40A9F0;
    background-color: #47ADF1;
    color: white;
}

#button-section {
    background-color: white;
    border: 2px solid #DADEE1;
    color: #DADEE1;
}

.list {
    margin: 30px 30px;
    display: inline-block;
}

ul{
  list-style-type: none;
}

.start {
    font-size: 20px;
    font-weight: 900;
    padding: 10px;
}

.icon-start {
    font-size:15px;
}

.second {
    font-size: 15px;
    font-weight: 400;
    padding: 10px 0 10px 5px;
}

.check, .uncheck {
    display: inline-block;
    font-size: 10px;
    font-weight: 900;
    margin-right: 10px;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    text-align: center;
    vertical-align: bottom;
}

.check {
    color: green;
    border: 2px solid green;
}

.uncheck {
    color: red;
    border: 2px solid red;
}

.label {
    color: white;
    padding: 7px;
    border-radius: 10px;
    font-size: 10px;
    vertical-align: middle;
}

#editorial {
    background-color: #40A9F0;
}

#goals {
    background-color: #9C72E4;
}

#recruiting {
    background-color: #64C0A9;
}

#mobile {
    background-color: #F29E33;
}

#website {
    background-color: #D863A1;
}

#sales {
    background-color: #B0C926;
}